.hero-card {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  border-radius: 30px;
  max-width: 90vw;
  width: clamp(320px, 22vw, 420px);
  padding: 22px 26px;
  position: absolute;
  z-index: 4;
  color: white;
  overflow: hidden;
}

.hero-card h3 {
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 8px;
}

.hero-card .main {
  font-weight: 600;
  margin-bottom: 8px;
}

.hero-card .desc {
  font-size: 18px;
  opacity: 0.7;
}

.hero-card.top-right {
  top: 20%;
  right: -15%;
  transform: rotate(6deg);
}

.hero-card.bottom-left {
  bottom: 18%;
  left: -10%;
  transform: rotate(-6deg);
}

.hero-card.bottom-right {
  bottom: 18%;
  right: -8%;
  transform: rotate(4deg);
}

.hero-card::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 30px;
  padding: 1px;

  background: linear-gradient(135deg, #ff8a00, #7a00ff);

  -webkit-mask: 
    linear-gradient(#000 0 0) content-box, 
    linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;

  pointer-events: none;
}