html, body {
  overflow-x: hidden;
}

.secondslice {
  position: relative;
  min-height: 100vh;
  color: white;
}

.secondslice_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  width: 100%;
  margin: 0;
}

.second-top {
  display: block;
}

.second-bottom {
  display: block;
  margin-top: -180px;
}

.boy2 {
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translate(-50%, -50%);

  width: 900px;
  height: auto;
}

.features {
  display: flex;
  gap: 80px;
  transform: translateX( -100%);
}

.col {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/* КАРТОЧКА */
.feature {
  position: relative;
  width: 260px;
}

.feature img {
  width: 100%;
  display: block;
}

/* ТЕКСТ ВНУТРИ */
.content {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.content h1 {
  font-size: 18px;
  margin-bottom: 10px;
}

.content p {
  font-size: 14px;
  opacity: 0.9;
}

.hero2_button {
  position: absolute;
  top: -420px;
  right: 20px;
  display: block;
  margin: 40px auto;
  transform: translateY(490px);
  z-index: 10;

  padding: 18px 40px;
  font-size: 24px;
  line-height: 1.2;

  color: #fff;
  background: #000;

  border-radius: 20px;
  border: 2px solid transparent;

  background:
    linear-gradient(#000, #000) padding-box,
    linear-gradient(135deg, #ff8a00, #ff5e00) border-box;

  box-shadow:
    0 0 12px rgba(255, 138, 0, 0.7),
    0 0 24px rgba(255, 138, 0, 0.5);

  cursor: pointer;
  text-align: center;

  transition: all 0.3s ease;
}

.hero2_button:hover {
  transform: translateY(490px) scale(1.05);

  box-shadow:
    0 0 20px rgba(122, 0, 255, 0.8),
    0 0 35px rgba(255, 138, 0, 0.7);
}

.hero2_button:active {
  transform: translateY(490px) scale(0.97);
}

// .features-scroll {
//   height: 500px; /* регулируй под макет */
//   overflow-y: scroll;
//   scroll-behavior: smooth;
// }

// /* скрываем стандартный скролл */
// .features-scroll::-webkit-scrollbar {
//   width: 0;
// }

// /* КНОПКИ СТРЕЛОК */
// .scroll-buttons {
//   position: fixed;
//   left: 20px;
//   top: 40%;
//   display: flex;
//   flex-direction: column;
//   gap: 10px;
//   z-index: 1000;
// }

// .scroll-buttons button {
//   width: 50px;
//   height: 50px;
//   border-radius: 12px;
//   border: none;
//   cursor: pointer;
// }