.features {
  display: grid;
  grid-template-columns: 1fr; /* мобилка */
  gap: 24px;
  padding: 32px 16px;

  justify-content: center;
  justify-items: center;
  max-width: 1200px;                 
  margin: 0 auto;                       
  width: 100%;                          
  box-sizing: border-box;
}

/* планшет */
@media (min-width: 768px) {
  .features {
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
  }
}

/* десктоп */
@media (min-width: 1024px) {
  .features {
    grid-template-columns: repeat(3, 1fr);
    padding: 64px;
  }
}