.bg {
  position: fixed;
  top: -20%;
  width: auto;
  max-width: none;
  height: 150vh;
  z-index: 0;
  pointer-events: none;
}

.bg--left {
  left: 0;
}

.bg--right {
  right: 0;
  transform: translate(120px, -120px);
}